.callout {
	--callout-color: transparent;
	--callout-border: none;
	--callout-border-radius: 2px;
	--callout-title-size: 0.9em;
	--callout-title-weight: bold;
	--callout-title-color: currentColor;
	border: var(--callout-border);
	border-radius: var(--callout-border-radius);
	background-color: var(--callout-background);
}

.callout-content {
	padding: 2ch;
}

.callout-content:first-child,
.callout-content:only-child {
	margin-block-start: 0;
}

.callout-content:last-child,
.callout-content:only-child {
	margin-block-end: 0;
}

.callout-indicator {
	display: flex;
	align-items: center;
	border-block-end: var(--callout-border);
	padding: 1ch;
}

.callout-hint {
	margin-inline-end: 0.5ch;
	color: var(--callout-color);
}

.callout-title {
	margin-inline-start: 0.5ch;
	font-size: var(--callout-title-size);
	font-weight: var(--callout-title-weight);
	color: var(--callout-title-color);
	letter-spacing: 0.04em;
}
