:root {
	--callout-bg-info: hsl(223, 14%, 61%, 0.14);
	--callout-bg-tip: hsl(146, 76%, 48%, 0.14);
	--callout-bg-important: hsl(237, 100%, 70%, 0.14);
	--callout-bg-warning: hsl(45, 93%, 47%, 0.14);
	--callout-bg-danger: hsl(350, 89%, 60%, 0.14);
}

@media (prefers-color-scheme: dark) {
	:root {
		--callout-bg-info: hsl(210, 14%, 46%, 0.16);
		--callout-bg-tip: hsl(146, 76%, 48%, 0.16);
		--callout-bg-important: hsl(237, 100%, 70%, 0.16);
		--callout-bg-warning: hsl(45, 93%, 47%, 0.16);
		--callout-bg-danger: hsl(350, 89%, 60%, 0.16);
	}
}

.callout {
	--calloutBackgroundColor: var(--callout-bg-color, var(--callout-bg-info));
	background-color: var(--calloutBackgroundColor);
	border-radius: 8px;
	padding: 16px;
}

.callout-indicator {
	display: flex;
	margin-bottom: 8px;
	text-transform: uppercase;
	font-weight: 600;
}

.callout-hint > svg {
	margin-right: 0.5rem;
	display: inline-block;
	vertical-align: text-bottom;
	fill: none;
	stroke: currentColor;
	stroke-width: 2.5px;
	width: 18px;
	height: 18px;
	min-width: 18px;
	min-height: 18px;
}

.callout-content:first-child,
.callout-content:only-child {
	margin-block-start: 0;
}

.callout-content:last-child,
.callout-content:only-child {
	margin-block-end: 0;
}

.callout-commend {
	--callout-bg-color: var(--callout-bg-tip);
}
.callout-warn {
	--callout-bg-color: var(--callout-bg-warning);
}
.callout-deter {
	--callout-bg-color: var(--callout-bg-danger);
}
.callout-assert {
	--callout-bg-color: var(--callout-bg-important);
}
