:root {
	--github-callout-accent-note: #0969da;
	--github-callout-accent-tip: #1a7f37;
	--github-callout-accent-important: #8250df;
	--github-callout-accent-warning: #9a6700;
	--github-callout-accent-caution: #d1242f;

	--github-callout-border-note: #0969da;
	--github-callout-border-tip: #1a7f37;
	--github-callout-border-important: #8250df;
	--github-callout-border-warning: #9a6700;
	--github-callout-border-caution: #cf222e;
}

@media (prefers-color-scheme: dark) {
	:root {
		--github-callout-accent-note: #4493f8;
		--github-callout-accent-tip: #3fb950;
		--github-callout-accent-important: #ab7df8;
		--github-callout-accent-warning: #d29922;
		--github-callout-accent-caution: #f85149;

		--github-callout-border-note: #1f6feb;
		--github-callout-border-tip: #238636;
		--github-callout-border-important: #8957e5;
		--github-callout-border-warning: #9e6a03;
		--github-callout-border-caution: #da3633;
	}
}

.callout {
	--calloutAccent: var(--callout-accent, var(--github-callout-accent-note));
	--calloutBorder: var(--callout-border, var(--github-callout-border-note));

	border-left: .25em solid var(--calloutBorder);
	border-inline-start: .25em solid var(--calloutBorder);
	padding: .5rem 1rem;
	color: inherit;
}

details.callout summary::marker {
	color: var(--calloutAccent);
}

.callout-indicator {
	display: flex;
	align-items: center;
	gap: .5rem;
	color: var(--calloutAccent);
}

summary > .callout-indicator {
	display: inline-flex;
	vertical-align: middle;
}

.callout-indicator + * {
	margin-top: 1rem;
	margin-block-start: 1rem;
}

.callout-title {
	font-weight: var(--github-callout-header-font-weight, 500);
}

.callout-hint {
	display: flex;
	align-items: center;
}

.callout-hint > svg {
	fill: currentColor;
}

.callout-content:first-child,
.callout-content:only-child {
	margin-top: 0;
	margin-block-start: 0;
}

.callout-content:last-child,
.callout-content:only-child {
	margin-bottom: 0;
	margin-block-end: 0;
}

.callout-note {
	--callout-accent: var(--github-callout-accent-note);
	--callout-border: var(--github-callout-border-note);
}
.callout-commend {
	--callout-accent: var(--github-callout-accent-tip);
	--callout-border: var(--github-callout-border-tip);
}
.callout-warn {
	--callout-accent: var(--github-callout-accent-warning);
	--callout-border: var(--github-callout-border-warning);
}
.callout-deter {
	--callout-accent: var(--github-callout-accent-caution);
	--callout-border: var(--github-callout-border-caution);
}
.callout-assert {
	--callout-accent: var(--github-callout-accent-important);
	--callout-border: var(--github-callout-border-important);
}
