.callout {
	--callout-color: hsl(207, 14%, 62%);
	--callout-background: ;
	--callout-border: 1px solid hsl(205, 15%, 33%);
	--callout-radius: 0.4rem;
	--callout-padding: 2ch;
	border-left: var(--callout-border);
	border-radius: var(--callout-radius);
	background: var(--callout-background);
}

.callout code,
.callout pre {
	background-color: hsl(0, 0%, 100%, 0.1);
	border: none;
}

.callout-content {
	padding: var(--callout-padding);
}

.callout-content:first-child,
.callout-content:only-child {
	margin-block-start: 0;
}

.callout-content:last-child,
.callout-content:only-child {
	margin-block-end: 0;
}

.callout-indicator {
	display: flex;
	align-items: center;
	padding: var(--callout-padding) var(--callout-padding) 0;
}

.callout-hint {
	margin-inline-end: calc(var(--callout-padding) / 4);
	color: var(--callout-color);
}

.callout-title {
	margin-inline-start: calc(var(--callout-padding) / 4);
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 0.04em;
}

.callout-note {
	--callout-background: hsl(240, 1%, 28%);
	--callout-color: hsl(240, 33%, 99%);
	--callout-border: 5px solid hsl(225, 5%, 84%);
}

.callout-commend {
	--callout-background: hsl(120, 100%, 10%);
	--callout-color: hsl(120, 47%, 93%);
	--callout-border: 5px solid hsl(120, 100%, 29%);
}

.callout-warn {
	--callout-background: hsl(44, 100%, 15%);
	--callout-color: hsl(43, 100%, 95%);
	--callout-border: 5px solid hsl(44, 100%, 45%);
}

.callout-deter {
	--callout-background: hsl(358, 63%, 18%);
	--callout-color: hsl(357, 100%, 96%);
	--callout-border: 5px solid hsl(358, 74%, 54%);
}

.callout-assert {
	--callout-background: hsl(194, 48%, 19%);
	--callout-color: hsl(196, 89%, 86%);
	--callout-border: 5px solid hsl(195, 61%, 56%);
}
